body{
    background: #ffffff00;
    display: flex;
}
.container{
    width: 40%;
}

.container path{
    fill: #979797;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
}
.container :hover{
    fill: #eba345;

}